html, body {
	margin:0 auto;
	padding:0;
	height:100%;
	min-height: 100%;
	width:100%;
	
}

body {
	background: #fff;
	color: #000;
	font: 12px Arial, sans-serif;
	line-height:18px;
}

a {
	color:#ea0083;
	text-decoration:none;
}
a:hover {
	color:#ea0083;
	text-decoration:underline;
}

#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
	width: 32px;
	height: 32px;
	display: none;
}

a.link {
	border:0;
	float:right;
	padding-right:80px;
}

.fuxia {
	color: #E80078;
	font-weight: bold;
}

.gray {color: #666666}
.white {color: #fff}

.page {
	border:0;
}

.flip_gallery canvas {margin:auto; position:relative}
